<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= yield_content(:title) || current_page.data.title || "Caret Juice Marketing" %></title>
	<meta name="description" content="<%= yield_content(:description) || current_page.data.description || current_page.data.excerpt %>">
	<link rel="canonical" href="<%= current_page.data.canonical || "http://www.caretjuice.com" + current_page.url %>" />
    
    <%= stylesheet_link_tag "app" %>
    <%= javascript_include_tag "modernizr" %>
	<link href="/assets/images/favicon.png" rel="shortcut icon" type="image/png">
	<link href="/assets/images/favicon-152.png" rel="apple-touch-icon-precomposed">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/assets/images/favicon-144.png">
	<link rel="alternate" type="application/atom+xml" title="Caret Juice Blog Atom feed" href="http://www.caretjuice.com/feed.xml" />
	
	<meta property="og:url" content="<%= "http://www.caretjuice.com" + current_page.url + "?utm_source=facebook&utm_medium=social&utm_campaign=open-graph" %>" />
	<meta property="og:type" content="<%= current_page.data.type || "article" %>" />
	<meta property="og:title" content="<%= yield_content(:title) || current_page.data.title || "Caret Juice Marketing" %>" />
	<meta property="og:description" content="<%= yield_content(:description) || current_page.data.description || "Caret Juice Marketing" %>" />
	<meta property="og:image" content="<%= current_page.data.featured_image || "http://www.caretjuice.com/assets/images/caretjuice-logo-2.png" %>" />
	<meta property="og:site_name" content="Caret Juice Marketing" />
  </head>
  
  <body class="<%= page_classes %>">
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PRFCGK"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PRFCGK');</script>
	<!-- End Google Tag Manager -->
	<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">
    		<%= yield %>
			<a class="exit-off-canvas"></a>
		</div>
	</div>
    <footer class="footer">
		<div class="row">
			<nav class="small-12 columns">
				<ul class="left inline-list">
					<li class="copyright"><small>&copy; Caret Juice Marketing</small></li>
				</ul>
				<ul class="right inline-list">
					<li><%= link_to 'Privacy', '/privacy.html' %></li>
					<li><%= link_to 'Contact', '/contact.html' %></li>
				</ul>
			</nav>
		</div>
	</footer>
	<%= javascript_include_tag  "all" %>
	<script src="/javascripts/equalizer.js"></script>
	<script>
	$(document).foundation();
	$('.lazyYT').lazyYT();

	  function getParameterByName(name) {
	    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
	    var regexS = "[\\?&]" + name + "=([^&#]*)";
	    var regex = new RegExp(regexS);
	    var results = regex.exec(window.location.search);
	    if(results == null) {
	      return "";
	    } else {
	      return decodeURIComponent(results[1].replace(/\+/g, " "));
	    }
	  }

	  $(document).ready(function () {
	    function addFormElem(paramName, fieldName) {
	      var paramValue = getParameterByName(paramName);
	      var $utmEl = $("<input type='hidden' name='" + fieldName + "' value='" + paramValue + "'>");
	      if (paramValue != "") {
	        $("form").first().prepend($utmEl);
	      }
	    }

	    // Note: Only change the values after ":" if they are different for you
	    // They are the same one as you added in your email marketing provider
	    var utmParams = {
	      "utm_campaign" : "Campaign",
	      "utm_source"   : "Source",
	      "utm_medium"   : "Medium",
	      "utm_content"  : "Content",
	      "utm_term"     : "Term"
	    };

	    for (var param in utmParams) {
	      addFormElem(param, utmParams[param]);
	    }
	  });
	</script>
	<script type="text/javascript" src="https://caretjuice.agilecrm.com/stats/min/agile-min.js"> </script> <script type="text/javascript" > _agile.set_account('dsre5qvjds4rmlt9nh2eteo5be', 'caretjuice'); _agile.track_page_view(); _agile_execute_web_rules(); </script>
  </body>
</html>
