<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
	
<script>
origDescriptor = Object.getOwnPropertyDescriptor(HTMLDocument.prototype, 'cookie'); // add cookie property to HTMLDocument constructor

Object.defineProperty(document, 'cookie', {
    get() {
        return origDescriptor.get.call(this);
    },

    set(value) {
        console.log("%c Cookie is :" + value, "background: #ffffff; color: #000000");
        console.trace();
        // debugger;
        return origDescriptor.set.call(this, value);
    },

    enumerable: true,
    configurable: true
});
</script>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PRFCGK');</script>
	<!-- Use title if it's in the page YAML frontmatter -->
    <title><%= yield_content(:title) || current_page.data.title || "Caret Juice Marketing" %></title>
	<meta name="description" content="<%= yield_content(:description) || current_page.data.description || current_page.data.excerpt %>">
	<link rel="canonical" href="<%= current_page.data.canonical || "https://www.caretjuice.com" + current_page.url %>" />
    <%= stylesheet_link_tag "app" %>
    <%= javascript_include_tag "modernizr" %>
	<link href="/assets/images/favicon.png" rel="shortcut icon" type="image/png">
	<link href="/assets/images/favicon-152.png" rel="apple-touch-icon-precomposed">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/assets/images/favicon-144.png">
	<link rel="alternate" type="application/atom+xml" title="Caret Juice Blog Atom feed" href="https://www.caretjuice.com/feed.xml" />
	<meta property="fb:app_id" content="349018238896517"/>
	<meta property="og:url" content="<%= "https://www.caretjuice.com" + current_page.url %>" />
	<meta property="og:type" content="<%= current_page.data.type || "article" %>" />
	<meta property="og:title" content="<%= yield_content(:title) || current_page.data.title || "Caret Juice Marketing" %>" />
	<meta property="og:description" content="<%= yield_content(:description) || current_page.data.description || current_page.data.excerpt || "Caret Juice Marketing" %>" />

	<meta property="og:image" content="<%= current_page.data.facebook_img || current_page.data.featured_image || "https://www.caretjuice.com/assets/images/caretjuice-logo-2.png" %>" />
	<meta property="og:site_name" content="Caret Juice Marketing" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@CaretJuice">
	<meta name="twitter:creator" content="@damongudaitis">
	<meta name="twitter:title" content="<%= yield_content(:title) || current_page.data.title || current_page.data.excerpt || "Caret Juice Marketing" %>">
	<meta name="twitter:description" content="<%= yield_content(:description) || current_page.data.description || "Caret Juice Marketing" %>">
	<meta name="twitter:image" content="<%= current_page.data.twitter_img || current_page.data.featured_image || "https://www.caretjuice.com/assets/images/caretjuice-logo-2.png" %>">
  </head>
  
  <body class="<%= page_classes %>">
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRFCGK"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">
    		<%= yield %>
			<a class="exit-off-canvas"></a>
		</div>
	</div>
	<%= partial "signup-bar" %>
    <footer class="footer">
		<div class="row">
			<nav class="small-12 columns">
				<ul class="left inline-list">
					<li class="copyright"><small>&copy; Caret Juice Marketing</small></li>
				</ul>
				<ul class="right inline-list">
					<li><%= link_to 'Privacy', '/privacy.html' %></li>
					<li><%= link_to 'Contact', '/contact.html' %></li>
				</ul>
			</nav>
		</div>
	</footer>
	<%= javascript_include_tag  "all" %>
	<script>
  $(document).foundation();
</script>

  </body>
</html>
