<% author = find_author(current_article.data.author)
 require 'htmlentities'
require 'uri'
 coder = HTMLEntities.new
 wrap_layout :layout do 
 tweet = current_article.data.excerpt %>
<article itemid="<%= current_article.data.canonical || "http://www.caretjuice.com" + current_article.url %>" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="article-info pattern">
		<div class="text-center row">
			<div class=" small-12 columns">
				<h1 style="margin-bottom:5px; line-height:3.0rem;" itemprop="headline"><%= current_article.title %></h1>
				<p>by <%= link_to author.name , '/blog/author/' + author.keys.first, :rel => 'author' %> | under <%= link_to  current_article.data.category , category_path(current_article.data.category) %></p>
				<h3 class="subheader" style="margin-bottom:5px; line-height:1.6rem; font-size:1.4rem; font-style:italic;" itemprop="description"><%= current_article.data.excerpt %></h3>
		
				<a href="http://twitter.com/intent/tweet?text=<%= h(tweet) %>&url=<%= 'http://www.caretjuice.com' + current_article.url%>&via=<%= author.twitter || caretjuice %>" target="blank">Tweet This</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-8 large-offset-2 columns" itemprop="articleBody">
		    <%= yield %>	
		</div>
	</div>	
</article>
<div class="row">
	<div class="small-12 large-8 large-offset-2 columns">
		<div class="social-share ">
			<ul class="inline-list inline-list-center">
			<li><h4>Share:</h4></li>
			<li style="background-color: #0077B5"><a class="icon" href="https://www.linkedin.com/shareArticle?mini=true&url=<%= URI.encode_www_form_component("http://www.caretjuice.com" + current_article.url ) %>&title=<%= URI.encode_www_form_component(yield_content(:title) ) %>&summary=<%= URI.encode_www_form_component(yield_content(:description) ) %>&source=<%= URI.encode_www_form_component( "Caret Juice Marketing" ) %>" rel="nofollow" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
			<li style="background-color: #55acee"><a class="icon" href="https://twitter.com/intent/tweet?text=<%= current_article.title %>&url=<%= 'http://www.caretjuice.com' + current_article.url %>&via=<%= author.twitter || caretjuice %>" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
			<li style="background-color: #3b5998"><a class="icon" href="https://www.facebook.com/dialog/share?app_id=349018238896517&display=popup&href=<%= URI.encode_www_form_component("http://www.caretjuice.com" + current_article.url ) %>" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>			
			</ul>
		</div>
		<%= partial "practical-automation-cta" %>
		<%= disqus %>
	</div>
</div>
<% end %>