---
title: The Caret Juice Blog
description: Insight into marketing technology without all the hype.
pageable: true
per_page: 12
type: website
---
<div class="article-info">
	<div class="row text-center">
		<div class="small-12 large-8 large-offset-2 columns">
			<h1>The Caret Juice Blog</h1>
			<h2 class="subheader"><em>Marketing technology and automation minus the hype.</em></h2>
		<% if paginate && num_pages > 1 %>
		  <p>Page <%= page_number %> of <%= num_pages %></p>
		<% end %>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 large-8 large-offset-2 columns">
		<% page_articles.each_with_index do |article, i| %>
			<%= partial(:article_listing, :locals => {:article => article}) %>
		<% end %>
		<% if paginate %>
		<div class="row">
			<div class="small-6 columns">
			  <% if prev_page %>
			    <p><%= link_to 'Previous page', prev_page %></p>
			  <% end %>
			</div>
			<div class="small-6 columns">
			  <% if next_page %>
			    <p><%= link_to 'Next page', next_page %></p>
			  <% end %>
			</div>
		</div>
		<% end %>
	</div>
</div>